@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf');
}
.logo{
	text-align:center;
}
.logo_name{
	text-align:center; 
	color:#7f7575;
	font-family: Lato-Bold;
}
.forgot-password{
	text-decoration:none;
}
